<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"  style="color: white; font-size: xx-large;">Deli Teknoloji</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
        style="background-color: #1a237e; border-color: #fff;">
            <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if (currentUser && currentUser.role === 'god') { %>
                    <a class="nav-link" href="/adminpanel"  style="color: white;">Admin Panel</a>
                <% } %>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) { %>
                    <a class="nav-link" href="/login" id="loginButton"  style="color: white;">Login</a>
                    <a class="nav-link" href="/register"  style="color: white;">Register</a>
                    
                <% } else { %>
                    <a class="nav-link" href="/news" style="color: white;">News</a>
                    <a class="nav-link" href="/grades"  style="color: white;">Grades</a>
                    <a class="nav-link" href="/logout"  style="color: white;">Logout</a>
                    
                <% } %>
            </div>
        </div>
    </div>
</nav>