<% layout('layouts/boilerplate')%>
<div class="portal-container">
    <h1 class="portal-title">DELİ PORTAL</h1>
    <div class="logo-background"></div> <!-- Logo Buraya Eklendi -->
</div>

11
<!-- Link to the CSS file -->
<link rel="stylesheet" href="/css/portal.css">

<!-- Link to the JavaScript file -->
<script src="/javascripts/portaljs.js"></script>
